<div class="divider">&nbsp; </div>
<div id="page" class="container">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Welcome to PCPROTEGO </a></h2>
				<div class="entry">
					<p>This is web site of <strong>PcProtego</strong>. We provide professional <strong>onsite</strong> computer repair services. We offer a wide range of services in the following categories: <%= link_to "Computer Repair", computer_repair_path %>, and <%= link_to "Network" , network_path %>, <%= link_to "Data",    data_path %>. We will serve customers in <strong> Helsinki</strong>, <strong> Espoo </strong>, and <strong> Vantaa </strong>. <%= link_to "PcProtego's support plans" , support_plan_path %> offer you not only a peace of mind when things go wrong, but also a chance to <strong> make a single payment for fixing your computer's problems</strong>. Some of our policies are:</p>
					 <br><strong>Fixed Rate -</strong> means that no matter how long it takes the task to be performed, you pay a fixed bill.<br>
					 <br><strong>Work Guaranteed -</strong> Our computer repair work is guaranteed for 30 days, in a few cases if the problem reoccurs within 30 days, we fix it free of cost. <br>
					 
					<br> <strong> Pay If We Fix Your Computer's Problem -</strong> means that if we are unable to fix your problem, we will not charge you.<br>
					 					
					<br><strong> Pay When Your Computer Has Been Repaired -</strong> means that you <strong> do not need </strong> to pay for every computer every year. You make a <strong> single </strong> payment for your computer's problems.<br>
					
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		 </div>
		<!-- end #content -->
		<div id="sidebar">
			<div>
				<h2>Our Offers</h2>
				<p> You don't have to pay with a <strong> yearly contract </strong> instead you pay for <strong> each service </strong> which can fix your computer's problem. The <strong> benefit </strong> of this service is that it  enables your company to concetrate on developing its own business and at the same time<strong> reducing </strong> your computer maintenance costs.</p>
				<ul class="list-style1">
					<li class="first"><a <%= link_to "3 TIMES PLAN (ideal for HOME USERS)",    support_plan_path %></a></li>
					<li><a <%= link_to "10 TIMES PLAN",    support_plan_path %></a></li>
					<li><a <%= link_to "UNLIMITED SUPPORT PLAN",    support_plan_path %></a></li>
					
					
				</ul>
			</div>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
	<! <div class="divider">&nbsp; <! </div>

	
*
       
